<div class="container">
  @if (group.status() === 'loading') {
  <progress class="progress is-small is-primary" max="100"></progress>
  } @else if (group.status() === 'error') {
  <p>Error: {{ group.error() }}</p>
  <button class="button" (click)="group.reload()">Retry</button>
  } @else {
  @if (group.hasValue() && group.value()) {
  <h1 class="title">Group {{ group.value().name }}</h1>
  <div class="field">
    <label class="label">Name</label>
    <div class="control is-expanded">
      <input class="input" type="text" [value]="group.value().name" readonly />
    </div>
  </div>
  <a class="button is-primary" [routerLink]="['/group', groupId(), 'expenses', 'add']">Add expense</a>
  }
  }
</div>
