@if (resourceData.isLoading()) {
<progress class="progress is-primary" max="100"></progress>
} @else if (resourceData.status() === 'error') { @if (resourceData.error()?.name
=== 'EntityNotFoundError') {
<div class="notification is-warning">
  <p>Group not found.</p>
</div>
} @else {
<p>Error: {{ resourceData.error() }}</p>
<button
  class="button"
  title="Retry"
  (click)="resourceData.reload()"
  data-testid="retry-button"
>
  <i class="fa-solid fa-arrows-rotate"></i>
</button>
} } @else if (resourceData.hasValue()) {
<h1 class="title"><i class="fa-solid fa-pen"></i> {{ groupData().name }}</h1>
<div class="field">
  <label class="label">Name</label>
  <div class="control is-expanded">
    <input
      autofocus
      class="input"
      type="text"
      placeholder="e.g. Paris 2025"
      [formField]="groupForm.name"
      [class.is-success]="groupForm.name().touched() && groupForm.name().valid()"
      [class.is-danger]="groupForm.name().touched() && groupForm.name().invalid()"
      data-testid="group-name-input"
    />
  </div>
</div>
<label class="label">Members</label>
@for (user of selectableUsers(); track $index) {
<div class="field">
  <div class="control">
    <label class="checkbox">
      <input
        type="checkbox"
        [checked]="user.selected"
        (change)="toggleUser($index)"
        data-testid="member-checkbox"
      />
      {{ user.label }}
    </label>
  </div>
</div>
} @if (errorMessage()) {
<div class="notification is-danger">
  <p>{{ errorMessage() }}</p>
</div>
}
<div class="field is-grouped">
  <div class="control is-expanded">
    <button
      class="button is-fullwidth is-flex is-justify-content-space-between"
      [class.is-success]="groupForm().valid()"
      [disabled]="groupForm().invalid() || saving()"
      (click)="save()"
      data-testid="save-button"
    >
      <i
        [class]="saving() ? 'fa-solid fa-spinner fa-spin' : 'fa-solid fa-floppy-disk'"
      ></i>
      <span class="is-flex-grow-1">{{ groupData().name }}</span>
    </button>
  </div>
</div>
}
