@if (homeData.isLoading()) {
<progress class="progress is-primary" max="100"></progress>
} @else if (homeData.status() === 'error') {
<p class="has-text-danger">
  <i class="fa-solid fa-triangle-exclamation"></i>
</p>
<button
  class="button"
  title="Retry"
  (click)="homeData.reload()"
  data-testid="retry-button"
>
  <i class="fa-solid fa-arrows-rotate"></i>
</button>
} @else if (homeData.hasValue() && homeData.value(); as data) { @if
(data.personalGroup; as personalGroup) {
<a
  class="box"
  [routerLink]="['/group', personalGroup.id, 'expenses']"
  data-testid="link-group-personal"
>
  <span class="is-flex is-align-items-center">
    <i class="fa-solid fa-user mr-2"></i>
    <span>{{ personalGroup.name }}</span>
  </span>
</a>
} @for (group of data.recentSharedGroups; track group.id) { @let balance =
data.groupBalances.get(group.id) ?? 0;
<a
  class="box"
  [routerLink]="['/group', group.id, 'expenses']"
  data-testid="link-group-expenses"
>
  <span class="is-flex is-align-items-center">
    <span class="icon">
      <i class="fa-solid fa-users mr-2"></i>
    </span>
    <p class="has-text-weight-semibold">{{ group.name }}</p>
  </span>
  @if (balance > 0) {
  <p class="has-text-success is-size-7">
    {{ formatNumber(balance) }} {{ currencies[0] }}
  </p>
  } @else if (balance < 0) {
  <p class="has-text-danger is-size-7">
    {{ formatNumber(abs(balance)) }} {{ currencies[0] }}
  </p>
  } @else {
  <p class="has-text-grey is-size-7">
    <i class="fa-solid fa-check"></i>
  </p>
  }
</a>
} @if (data.recentSharedGroups.length === 0) {
<p class="has-text-grey mb-4">
  <i class="fa-solid fa-users-slash"></i>
</p>
}

<a
  class="button is-fullwidth"
  [routerLink]="['/groups']"
  data-testid="link-groups"
>
  <span class="icon">
    <i class="fa-solid fa-users"></i>
    …
  </span>
</a>

<a
  class="button is-fullwidth"
  [routerLink]="['/groups']"
  data-testid="link-groups"
>
  <span class="icon">
    <i class="fa-solid fa-users"></i>
    …
  </span>
</a>

<div class="buttons is-scrollable-x mt-4">
  @if (data.personalGroup; as personalGroup) {
  <button
    class="button"
    [class.is-primary]="effectiveContextId() === personalGroup.id"
    (click)="selectContext(personalGroup.id)"
    data-testid="select-personal-context-button"
  >
    <span class="icon">
      <i class="fa-solid fa-user"></i>
    </span>
  </button>
  } @for (group of data.allSharedGroups; track group.id) {
  <button
    class="button"
    [class.is-primary]="effectiveContextId() === group.id"
    (click)="selectContext(group.id)"
    data-testid="select-group-context-button"
  >
    {{ group.name }}
  </button>
  }
</div>

@if (effectiveContextId(); as contextId) {
<apezzi-expense-create
  [groupId]="contextId"
  [navigateAfterSave]="false"
  (expenseSaved)="homeData.reload()"
/>
} }
