<div class="container">
  @if (users.status() === 'loading') {
  <p>Loading…</p>
  } @else if (users.status() === 'error') {
  <p>Error loading user</p>
  } @else {
  @if (users.hasValue() && users.value()) {
  <h1 class="title">Users</h1>
  <table class="table">
    <tbody>
      @for (user of users.value(); track $index) {
      <tr>
        <td>
          <a [routerLink]="['/user', user.id]">{{ user.name }}</a>
        </td>
        <td>
          <a [routerLink]="['/user', user.id]">View</a>
        </td>
        <td>
          <a [routerLink]="['/user', user.id, 'edit']">Edit</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
  }
</div>
