<div class="container">

  @if (expenses.status() === 'loading') {
  <p>Loading…</p>
  } @else if (expenses.status() === 'error') {
  <p>Error loading group</p>
  } @else {
  @if (expenses.hasValue() && expenses.value()) {
  @for (expense of expenses.value(); track $index) {
  <li><a [routerLink]="['/group', groupId(), 'expenses', expense.id, 'edit']">{{ expense.category }} {{ formatNumber(expense.cost) }} {{ expense.currency }}</a></li>
  }
  }
  <a class="button is-primary" [routerLink]="['/group', groupId(), 'expenses', 'add']">Add expense</a>
  }
</div>
<ul>

</ul>
