@if (expenses.isLoading()) {
<progress class="progress is-primary" max="100"></progress>
} @else if (expenses.status() === 'error') {
<p>Error: {{ expenses.error() }}</p>
<button class="button" title="Retry" (click)="expenses.reload()">
  <i class="fa-solid fa-arrows-rotate"></i>
</button>
} @else if (expenses.hasValue()) {
<div class="level mb-4">
  <div class="level-left">
    <h1 class="title"><i class="fa-solid fa-receipt"></i></h1>
  </div>
  <div class="level-right">
    <a
      class="button is-primary"
      [routerLink]="['/group', groupId(), 'expenses', 'add']"
      ><i class="fa-solid fa-plus"></i><i class="fa-solid fa-receipt"></i
    ></a>
  </div>
</div>
@if (expenses.value().expenses.length === 0) {
<p class="has-text-grey">No expenses yet.</p>
} @for (expense of expenses.value().expenses; track expense.id) {
<a
  class="box is-flex is-align-items-center"
  [routerLink]="['/group', groupId(), 'expenses', expense.id, 'edit']"
>
  <span class="is-size-3 mr-4"><i [class]="expense.category"></i></span>
  <div class="is-flex-grow-1">
    <p>{{ expense.description }}</p>
  </div>
  <span>{{ formatNumber(expense.cost) }} {{ expense.currency }}</span>
</a>
} }
