<div class="container">
  @if (groups.status() === 'loading') {
  <p>Loading…</p>
  } @else if (groups.status() === 'error') {
  <p>Error loading group</p>
  } @else {
  @if (groups.hasValue() && groups.value()) {
  <h1 class="title">Groups</h1>
  @for (group of groups.value(); track $index) {
  <p>Group {{ group.name }}</p>
  <ul>
    <li>
      <a [routerLink]="['/group', group.id]">View group</a>
    </li>
    <li>
      <a [routerLink]="['/group', group.id, 'edit']">Edit group</a>
    </li>
    <li>
      <a [routerLink]="['/group', group.id, 'expenses']">View Expenses</a>
    </li>
    <li>
      <a [routerLink]="['/group', group.id, 'expenses', 'add']">Add Expense</a>
    </li>
  </ul>
  }
  }
  }
</div>
