@if (groups.isLoading()) {
<progress class="progress is-primary" max="100"></progress>
} @else if (groups.status() === 'error') {
<p>Error: {{ groups.error() }}</p>
<button class="button" title="Retry" (click)="groups.reload()">
  <i class="fa-solid fa-arrows-rotate"></i>
</button>
} @else if (groups.hasValue()) {
<div class="level">
  <div class="level-left">
    <h1 class="title"><i class="fa-solid fa-users"></i></h1>
  </div>
  <div class="level-right">
    <a class="button is-primary" [routerLink]="['/group/create']"
      ><i class="fa-solid fa-plus"></i><i class="fa-solid fa-users"></i
    ></a>
  </div>
</div>
@for (group of groups.value(); track $index) {
<p>{{ group.name }}</p>
<ul>
  <li>
    <a [routerLink]="['/group', group.id]"><i class="fa-solid fa-eye"></i></a>
  </li>
  <li>
    <a [routerLink]="['/group', group.id, 'edit']"
      ><i class="fa-solid fa-pen"></i
    ></a>
  </li>
  <li>
    <a [routerLink]="['/group', group.id, 'expenses']"
      ><i class="fa-solid fa-receipt"></i
    ></a>
  </li>
  <li>
    <a [routerLink]="['/group', group.id, 'expenses', 'add']"
      ><i class="fa-solid fa-plus"></i><i class="fa-solid fa-receipt"></i
    ></a>
  </li>
</ul>
} }
