@charset "utf-8";

// Base
@forward 'bulma/sass/base/minireset';
@forward 'bulma/sass/base/generic';
@forward 'bulma/sass/base/animations';

// Layout (container, level, footer)
@forward 'bulma/sass/layout/container';
@forward 'bulma/sass/layout/level';
@forward 'bulma/sass/layout/footer';

// Components
@forward 'bulma/sass/components/navbar';

// Elements
@forward 'bulma/sass/elements/box';
@forward 'bulma/sass/elements/button';
@forward 'bulma/sass/elements/content';
@forward 'bulma/sass/elements/notification';
@forward 'bulma/sass/elements/progress';
@forward 'bulma/sass/elements/table';
@forward 'bulma/sass/elements/title';

// Form
@forward 'bulma/sass/form/shared';
@forward 'bulma/sass/form/input-textarea';
@forward 'bulma/sass/form/checkbox-radio';
@forward 'bulma/sass/form/select';
@forward 'bulma/sass/form/tools';

// Helpers
@forward 'bulma/sass/helpers/color';
@forward 'bulma/sass/helpers/flexbox';
@forward 'bulma/sass/helpers/spacing';
@forward 'bulma/sass/helpers/typography';

// Themes
@forward 'bulma/sass/themes';

@import '@fortawesome/fontawesome-free/css/all.min.css';

html {
  font-size: 150%;
}

html,
body {
  scroll-behavior: auto;
  overscroll-behavior: contain;
  touch-action: pan-y;
}

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

body {
  margin: 0.5rem;
}

.buttons.is-scrollable-x {
  // -webkit-overflow-scrolling: touch;
  max-width: 100%;
  overflow: auto;
  padding-bottom: calc(var(--bulma-field-block-spacing) / 2);
  margin-bottom: calc(var(--bulma-field-block-spacing) / 2);
  mask-image: linear-gradient(to right, black calc(100% - 6rem), transparent);
  padding-right: 6rem;
  flex-wrap: nowrap;
}

.buttons.has-addons .button.is-selected {
  --bulma-button-border-width: 1px;
}

button {
  font-weight: normal;
}
