name: PR check

on:
  pull_request:
    branches:
    - main
permissions: {}

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJSON(github) }}
      run: echo "$GITHUB_CONTEXT"
    - name: Dump job context
      env:
        JOB_CONTEXT: ${{ toJSON(job) }}
      run: echo "$JOB_CONTEXT"
    - name: Dump steps context
      env:
        STEPS_CONTEXT: ${{ toJSON(steps) }}
      run: echo "$STEPS_CONTEXT"
    - name: Dump runner context
      env:
        RUNNER_CONTEXT: ${{ toJSON(runner) }}
      run: echo "$RUNNER_CONTEXT"
    - name: Dump strategy context
      env:
        STRATEGY_CONTEXT: ${{ toJSON(strategy) }}
      run: echo "$STRATEGY_CONTEXT"
    - name: Dump matrix context
      env:
        MATRIX_CONTEXT: ${{ toJSON(matrix) }}
      run: echo "$MATRIX_CONTEXT"
    - name: Dump environment variables
      run: set
  check:
    name: PR check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        cache: npm
    - run: npm ci
    - run: npm run test:ci
    - run: npm run build
    - name: Make sure build did not change anything
      run: git diff --exit-code
  required-status-check:
    name: pr-check.required-status-check
    needs:
    - check
    # GitHub Actions skips this job when any of the dependents fail. And skips
    # are considered success in their weird logic. So we always run it and fail
    # ourselves if necessary
    if: always()
    runs-on: ubuntu-latest
    steps:
    - run: echo "Use this job as the required status check of this workflow"
    - name: Check that all jobs were successful
      env:
        RESULTS: ${{ toJSON(needs) }}
      run: |
        echo "$RESULTS" | jq --exit-status 'all(.result == "success")' || exit 1
